---
import CustomCursor from '../cursor/CustomCursor.astro';

interface Props {
  imgSrc: string;
  id: string;
}

const { imgSrc, id } = Astro.props;
---

<CustomCursor />
<a
  href={`/project/${id}`}
  class="rounded-2xl p-2 border border-gray-200 bg-gray-100 h-[500px] cursor-none hover:scale-95 transition-all duration-300 block"
>
  <img src={imgSrc} alt={`Project ${id}`} class="w-full h-full rounded-2xl" />
</a>
