---
import Layout from "../layouts/Layout.astro";
---

<Layout title="devnazir - Works Experiences">
  <h1 class="text-3xl">Experience</h1>
  <div class="mt-2 flex justify-between" transition:name="heading-skills">
    <span class="block text-sm">
      List of my work experiences, from the most recent to the oldest.
    </span>
  </div>
</Layout>
