---
import Layout from '@layouts/Layout.astro';
import Header from '@components/header/index.astro';
import Experience from '@components/experience/index.astro';
import Stack from '@components/common/stack/index.astro';
import { experiences, stack } from '@constants/data';
import Footer from '@components/common/footer/index.astro';
import { getCollection } from 'astro:content';
import SeeMoreProjects from '@components/SeeMoreProjects';

const projects = await getCollection('projects');
---

<Layout>
  <Header />
  <section class="section">
    <span class="text-4xl font-light">Featured Projects</span>
    <SeeMoreProjects client:load projects={projects.sort((a, b) => a.data.order - b.data.order)} />
  </section>
  <section class="section">
    <span class="text-4xl font-light">Experience</span>
    <div class="mt-15">
      <Experience experiences={experiences} />
      <span class="text-4xl font-light mt-10 block">My stack</span>
      <div class="mt-10">
        <Stack stack={stack} />
      </div>
    </div>
  </section>

  <Footer />
</Layout>
