---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import { PROJECTS } from "../constants";
---

<Layout title="devnazir - Projects" withBlurred>
  <h1 class="md:text-3xl text-xl" transition:name="heading-projects">
    Projects
  </h1>
  <div class="mt-2 flex justify-between">
    <span class="block md:text-sm text-xs">
      Some projects that I have worked on, it was from client and personal
    </span>
  </div>

  <div
    class="grid lg:grid-cols-3 md:grid-cols-2 gap-4 mt-4 z-50"
    transition:name="heading-skills"
  >
    {
      PROJECTS.map((project) => {
        return (
          <a href={project.url} target="_blank" rel="noopener noreferrer">
            <div class="rounded-lg overflow-hidden relative cursor-pointer">
              <Image
                src={project.imageUrl}
                alt={project.url}
                width="100"
                height="100"
                class="w-full h-full"
              />
              <div class="absolute bottom-0 left-0 right-0 p-4 bg-gray-200  opacity-75">
                {project.name}
              </div>
            </div>
          </a>
        );
      })
    }
  </div>

  <!-- <div class="mt-8 flex">
    <a
      href="https://github.com/devnazir?tab=repositories"
      class="text-blue-500 hover:underline mx-auto"
      target="_blank"
      rel="noopener noreferrer">More Projects...</a
    >
  </div> -->
</Layout>
