---
import NavbarLinks from "./NavbarLinks";
---

<nav
  class="w-full md:px-8 md:py-6 p-4 sticky top-0 bg-[rgba(255,255,255,0.8)] z-50 backdrop-blur-lg flex justify-between items-center"
>
  <a class="md:text-2xl text-base font-bold" href="/">
    <span class="">{"<dev"}</span>
    <span class="text-purple-500">nazir</span>
    <span class="">{" />"}</span>
  </a>

  <NavbarLinks client:only />
</nav>
