---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
import Circle from "../components/Circle";

interface Props {
  title: string;
  withBlurred?: boolean;
}

const { title, withBlurred = false } = Astro.props;
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <div class="max-w-[1440px] mx-auto">
      <Navbar transition:persist />
      <main class="md:px-8 md:py-6 p-4">
        <slot />
      </main>

      {
        withBlurred && (
          <div class="p-4 w-full h-32 bg-gradient-to-t from-white sticky bottom-0 left-0 filter bg-opacity-20" />
        )
      }
    </div>
    <Circle client:only />
    <Footer />
  </body>
</html>
